*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #1a153f;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 20px;
}

.container .left_Side {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    background: #151a33;
    padding: 60px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position:relative;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h1{
  color: #fff;
  font-size: 1.5em;  
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.25em;
}

.profileText h1 span {
    font-size: 0.65em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color:rgb(233, 226, 19);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px; 
}

.contactInfo ul {
position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:#03a9f4;
}

.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo ul li a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
}
.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color:#03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color:#fff;
    font-weight: 500;
}

.contactInfo.language h5 {
    color:#03a9f4;
    font-weight: 500;
}
.contactInfo.language h4:nth-child(2) {
    color:#fff;
    font-weight: 500;
}



.container .right_Side {
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
    background: #151a33;
    padding: 40px;
    max-width: 680px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color:rgb(233, 226, 19);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
    color: rgb(255, 255, 255);
    text-indent: 20px;
    line-height: 1.3;
    text-align: justify;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
    
.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5 {
    text-transform: uppercase;
    color:#03a9f4;
    font-weight: 600;
}

.about .box .text{
    text-transform: uppercase;
    color: #f5f7f8;
    font-size: 16px;
}

.skills .box {
    position:relative;
    width: 100%;
    display:grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 500;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}

.skills .box .percent div {
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    background:#c245dfa3;
}
.title2 p {
    text-align: justify;
}
.code_example{
    color:#fff;
}
.name_example{
    color:#c245dfa3;
}
.header {
   background: #a77df1;
    border-radius: 10px;
    margin-bottom: 50px;
} 
header ul {
    width: 100%;
    display: flex;

    

 }
 header ul li {
     display: inline-block;
     margin: 10px;
     
 }
 header ul li a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color:rgb(255, 255, 255);
    
 }
 header ul li a:hover {
    text-decoration: underline;
 }
 .footer{
    grid-area: 2 / 1 / 3 /3;
    display:grid;
    padding: 40px;
    max-width: 1000px;
    background-color:#a77df1;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;

    
}
.list{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.footer ul li  {
    list-style: none;

}
 .myGit {
font-size: 30px;
   width: 100px;
   padding-left: 40px;
    }
 .myGit a{
     color:black;
 }
 .logo {
    width: 150px;
    padding-left: 10px;
   }
 .year_created {
        color:black;
    font-size: 30px;
    
 }
@media (max-width:1000px){

    .container  {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
    position: relative;
    top: 30px;
    left: 0;
    }
}
@media (max-width:600px){
    .about .box {
        flex-direction: column;
    }
    .header{
        display:none;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .footer{
        position: relative;
        top: 30px;
        left: 0;
        }
}
@media (max-width:600px){
    body{
        font-size: 80%;
    }
    .container .right_Side {
        padding: 5px 67px;
    }
    
}